.intro {
    padding: 3.3rem 0 4rem;
    &__swiper {
        .swiper-pagination {
            bottom: 4.7rem;
            &-bullet {
                width: 1.2rem;
                height: 1.2rem;
                margin: 0 .85rem !important;
                background: #FFFFFF;
            }
        }
    }
    &__banner {
        display: flex;
        align-items: center;
        background-color: #FFFFFF;
        border-radius: 1.3rem;
        padding: 8.9rem 8.1rem 4.9rem;
        padding-right: 14.1rem;
        background-image: url(/assets/svg/intro-bg.svg);
        background-repeat: no-repeat;
        background-position: left bottom;
        background-size: contain;
    }
    &__pic {
        picture {
            display: block;
            max-width: 100%;
            width: auto;
            height: auto;
            object-fit: contain;
        }
        img {
            display: block;
            max-width: 100%;
            width: auto;
            height: auto;
            object-fit: contain;
        }
    }
    &__content {
        display: flex;
        flex-direction: column;
        color: #FFFFFF;
        flex-shrink: 0;
        margin-left: 16rem;
    }
    &__logo {
        display: block;
        width: 45.6rem;
        height: 3.509rem;
        margin-bottom: 4.4rem;
        .icon {
            display: block;
            width: 100%;
            height: 100%;
            fill: currentColor;
        }
    }
    &__title {
        font-size: 4rem;
        line-height: 1;
        margin-bottom: 4.3rem;
        &--mobile {
            display: none;
        }
    }
    &__text {
        font-size: 2rem;
        line-height: 1.42;
        margin-bottom: 3rem;
    }
    &__link {
        display: flex;
        align-items: center;
        width: fit-content;
        background: #FFFFFF;
        border: .1rem solid #FFFFFF;
        padding: 1.8rem 4.7rem;
        font-weight: 600;
        font-size: 2rem;
        line-height: 1.2;
        color: var(--primary-color);
        border-radius: .5rem;
        .icon {
            display: block;
            width: 1.5rem;
            height: 1.5rem;
            flex-shrink: 0;
            margin-left: 1.5rem;
            fill: none;
            stroke: currentColor;
        }
        &:hover {
            background: var(--primary-color);
            color: #FFFFFF;
            border-color: var(--primary-color);
        }
    }
    @media only screen and (max-width: 640px) {
        padding: 1.2rem 0 1.5rem;
        &__swiper {
            .swiper-pagination {
                bottom: 1rem;
                &-bullet {
                    width: .8rem;
                    height: .8rem;
                    margin: 0 .5rem !important;
                }
            }
        }
        &__banner {
            flex-direction: row-reverse;
            align-items: stretch;
            padding: 1.7rem 1.3rem 1.9rem;
            border-radius: 1rem;
            background-image: url(/assets/svg/intro-bg_mob.svg);
            background-repeat: no-repeat;
            background-position: bottom;
            background-size: cover;
            min-height: 19.8rem;
        }
        &__content {
            width: 15.1rem;
            margin-left: 0;
        }
        &__logo {
            display: none;
        }
        &__title {
            display: none;
            &--mobile {
                display: block;
                font-weight: 600;
                font-size: 2.5rem;
                line-height: 2.6rem;
                letter-spacing: -0.015em;
                color: #000000;
                margin: 0;
            }
        }
        &__text {
            display: none;
        }
        &__link {
            padding: .8rem 1.3rem;
            font-size: 1rem;
            line-height: 1.2;
            letter-spacing: -0.015em;
            color: #000000;
            margin: auto 0 .5rem;
            .icon {
                width: 1rem;
                height: 1rem;
                margin-left: .5rem;
            }
        }
        &__pic {
            display: flex;
            flex-grow: 1;
            picture {
                margin-top: auto;
                margin-left: auto;
            }
            img {
                margin-top: auto;
            }
        }
    }
}