.products-list {
    padding: 2rem 0 6.6rem;
    &__inner {
        display: grid;
        grid-template-columns: 30.6rem 1fr;
        gap: 3.5rem;
    }
    &__aside {
        grid-column: 1 / 2;
        grid-row: 1 / 4;
        &-filters {
            position: sticky;
            top: 2rem;
            background: #FFFFFF;
            border-radius: .5rem;
            padding: 2rem;
        }
    }
    &__checkboxes {
        display: flex;
        flex-direction: column;
        margin-bottom: 2.4rem;
        &-title {
            font-weight: 500;
            line-height: 1.25;
            letter-spacing: 0.02em;
            color: #9A9A9A;
            margin-bottom: 1rem;
        }
        .form-checkbox {
            margin-bottom: 1rem;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    &__btns {
        display: flex;
        flex-direction: column;
        .btn {
            padding: 1.4rem;
            letter-spacing: 0.02em;
            text-transform: uppercase;
            margin-bottom: .8rem;
            &:last-child {
                margin-bottom: 0;
            }
            &_reset {
                font-weight: 500;
                text-transform: none;
            }
        }
    }
    &__grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 3.3rem 2.9rem;
        grid-column: 2 / 3;
    }
    &__pagination {
        grid-column: 2 / 3;
    }
    &__content {
        grid-column: 2 / 3;
        h2 {
            font-weight: 500;
            letter-spacing: 0.02em;
            color: #000000;
            margin-bottom: 1rem;
        }
        p {
            margin-bottom: 2rem;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    @media only screen and (max-width: 640px) {
        &__inner {
           display: flex;
           flex-direction: column;
           gap: 0;

        }
        &__aside {
            margin-bottom: 2rem;
        }
        &__grid {
            display: flex;
            flex-direction: column;
            gap: 0;
            .product-card {
                margin-bottom: 2rem;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
        &__pagination {
            margin: 3rem 0;
        }
    }
}