.s-favorites {
    padding: 1.5rem 0 3rem;
    &__title {
        margin-bottom: 3rem;
    }
    &__filters {
        margin-bottom: 3rem;
    }
    &__checkboxes {
        display: flex;
        align-items: flex-start;
    }
    &__checkbox {
        margin-right: 2rem;
        &:last-child {
            margin-right: 0;
        }
        &-input {
            display: none;
            &:checked ~ .s-favorites {
                &__checkbox {
                    &-label {
                        color: #FFFFFF;
                        background: var(--primary-color);
                    }
                }
            }
        }
        &-label {
            display: block;
            font-size: 1.5rem;
            line-height: 1.47;
            text-align: center;
            letter-spacing: 0.038rem;
            padding: .3rem 1.7rem;
            background: #FFFFFF;
            border-radius: .4rem;
            cursor: pointer;
            min-height: 2.8rem;
            transition: .3s ease;
            &:hover {
                color: var(--primary-color);
            }
        }
    }
    &__items-count {
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 1.25;
        letter-spacing: 0.02em;
        color: #9A9A9A;
        margin-bottom: 3rem;
    }
    &__grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 3rem 2.8rem;
        margin-bottom: 3rem;
    }
    &__pagination {
        .pagination {
            &__list {
                justify-content: center;
            }
        }
    }
    @media only screen and (max-width: 640px) {
        &__title {
            margin-bottom: 2.7rem;
        }
        &__filters {
            margin-bottom: 2rem;
        }
        &__checkboxes {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: .8rem;
        }
        &__checkbox {
            margin-right: 0;
            width: 100%;
            &-label {
                font-size: 1.4rem;
                padding: .3rem;
            }
        }
        &__items-count {
            margin-bottom: 2rem;
        }
        &__grid {
            display: flex;
            flex-direction: column;
            gap: 0;
            .product-card {
                margin-bottom: 2rem;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
        &__pagination {
            .pagination {
                &__list {
                    justify-content: flex-start;
                }
            }
        }
    }
}